.name {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  margin-top: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.container {
  margin-top: 36px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  height: 300px;
}

.temp {
  margin: 0;
  background: linear-gradient(
    180deg,
    #9b8f8f,
    #12495f
  ); /* Градиент для текста */
  font-size: 36px;
  font-weight: 900;
  -webkit-background-clip: text; /* Для Safari и Chrome */
  -webkit-text-fill-color: transparent; /* Делает текст прозрачным, чтобы отобразить градиент */
  background-clip: text; /* Для других браузеров */
  text-fill-color: transparent; /* Для совместимости */
}

.descr {
  font-size: 16px;
  text-transform: capitalize;
}

.wind {
  font-size: 10px;
  margin: 0;
  margin-bottom: 12px;
}

.feels {
  font-size: 12px;
  margin: 0;
}

.tempAll {
  display: flex;
  flex-direction: column;
}
