.input {
  border: none;
  width: 150px;
  padding: 10px;
  outline: none;
}

.button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #fff;
  transition: all 200ms;
}

.button:hover {
  background-color: #a8a8a8;
}
