.input {
  border: none;
  width: 150px;
  padding: 10px;
  outline: none;
  color: #43485b;
  font-family: "Funnel Display", sans-serif;
  background-color: #fff;
}

.form {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.button {
  border: none;
  outline: none;
  padding: 10px;

  background-color: #fff;
  transition: all 200ms;
  color: #43485b;
  font-family: "Funnel Display", sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #43485b;
  color: #fff;
}
