.App {
  text-align: center;
  flex-direction: column;
  padding: 20px;

  border: 1px solid #ccc;
  box-shadow: 3px 3px 2px 3px rgb(155, 151, 145);
  background-color: #9cbbe9;
  border-radius: 24px;
  max-width: 300px;
  width: 250px;
  height: 400px;
}

@media (min-width: 768px) {
  .App {
    padding: 32px;
    width: 300px;
  }
}

.start {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.try {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}
